@import "stripes.css";

@font-face {
  font-family: 'Roobert';
  src: url('../fonts/Roobert-Regular.woff2') format('woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: "dashiell-fine";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}

body {
  background-color: #F0ECEC;
}

a {
  color: #72A2FF;
}

/* Components */
@layer components {
  .header {
    @apply py-8 lg:py-12 xl:py-12 2xl:py-20;
  }

  .container {
    @apply relative mx-auto flex h-screen flex-col px-10 lg:max-h-[950px] lg:max-w-[950px] lg:overflow-y-clip lg:px-0 xl:max-h-[1200px] xl:max-w-[1200px] 2xl:max-h-[1300px] 2xl:max-w-[1550px] 4xl:max-h-[1500px] 4xl:max-w-[1750px];
  }

  .title {
    @apply pb-12 text-6xl font-semibold pb-7;
  }

  .paragraph {
    @apply pb-6 text-xl font-normal text-3xl;
  }

  .primaryButton {
    background-color: #01EC97;
    font-family: Roobert;
    border-radius: 8px;
  }
  .primaryButton:hover {
    background-color: #00C980;
  }

  .footerText {
    font-family: Roobert;
    font-size: 16px;
  }
  .relative {
    position: relative;
    display: inline-block;
  }

  .btn-1 {
    cursor: pointer;
    position: relative;
    z-index: 1;
  }

  .btn-2 {
    width: 150px;
    transition: all 0.3s ease;
    transform: translateY(-40);
  }

  .btn-1:hover + .btn-2 {
    transform: translateY(-150) rotate(-35deg);
  }

  .hider {
    position: relative;
    bottom: 120px;
    Height: 90px;
    Width: 150px;
    background-color: #F0ECEC;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1536px) and (max-height: 700px) {
  .container {
    max-height: none;
  }

  .title {
    @apply text-5xl;
  }

  .header {
    @apply py-10;
  }
}

/* iPad pro custom CSS */
/* @media only screen and (min-width: 1000px) and (max-height: 1400px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  .container {
    max-height: none;
  }

  p#first {
    @apply pt-[32rem];
  }
}

@media only screen and (min-width: 1000px) and (max-height: 1400px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
  p#first {
    @apply pt-24;
  }
} */
