.stripe {
  width: 3000px;
  height: 20%;
  position: absolute;
  left: 0;
  transform-origin: left bottom;
}

/* Mobile */
#one {
  top: 0;
  transform: rotate(-5deg) translateX(-98%) translateY(15%);
}
#two {
  top: 20%;
  transform: rotate(-5deg) translateX(-98%) translateY(15%);
}
#three {
  top: 40%;
  transform: rotate(-5deg) translateX(-98%) translateY(15%);
}
#four {
  top: 60%;
  transform: rotate(-5deg) translateX(-98%) translateY(15%);
}
#five {
  top: 80%;
  transform: rotate(-5deg) translateX(-96%) translateY(15%);
}

/* iPad */
@media screen and (min-width: 768px) {
  #one {
    top: 0;
    transform: rotate(-5deg) translateX(-97%) translateY(15%);
  }
  #two {
    top: 20%;
    transform: rotate(-5deg) translateX(-97%) translateY(15%);
  }
  #three {
    top: 40%;
    transform: rotate(-5deg) translateX(-97%) translateY(15%);
  }
  #four {
    top: 60%;
    transform: rotate(-5deg) translateX(-97%) translateY(15%);
  }
  #five {
    top: 80%;
    transform: rotate(-5deg) translateX(-94%) translateY(15%);
  }
}

/* Low res laptop & iPad vertical */
@media screen and (min-width: 1024px) {
  #one {
    top: 0;
    transform: rotate(-40deg) translateX(-97%) translateY(80%);
  }
  #two {
    top: 22%;
    transform: rotate(-40deg) translateX(-97%) translateY(80%);
  }
  #three {
    top: 44%;
    transform: rotate(-40deg) translateX(-97%) translateY(80%);
  }
  #four {
    top: 66%;
    transform: rotate(-40deg) translateX(-97.2%) translateY(80%);
  }
  #five {
    top: 88%;
    transform: rotate(-40deg) translateX(-95.2%) translateY(80%);
  }
}

/* Laptops */
@media screen and (min-width: 1280px) {
  #one {
    top: 0;
    transform: rotate(-40deg) translateX(-97%) translateY(80%);
  }
  #two {
    top: 22%;
    transform: rotate(-40deg) translateX(-97%) translateY(80%);
  }
  #three {
    top: 44%;
    transform: rotate(-40deg) translateX(-97%) translateY(80%);
  }
  #four {
    top: 66%;
    transform: rotate(-40deg) translateX(-97.2%) translateY(80%);
  }
  #five {
    top: 88%;
    transform: rotate(-40deg) translateX(-95.2%) translateY(80%);
  }
}

/* Large & XLs */
@media screen and (min-width: 1536px) {
  #one {
    top: 0;
    transform: rotate(-40deg) translateX(-95%) translateY(80%);
  }
  #two {
    top: 22%;
    transform: rotate(-40deg) translateX(-95%) translateY(80%);
  }
  #three {
    top: 44%;
    transform: rotate(-40deg) translateX(-95%) translateY(80%);
  }
  #four {
    top: 66%;
    transform: rotate(-40deg) translateX(-95%) translateY(80%);
  }
  #five {
    top: 88%;
    transform: rotate(-40deg) translateX(-92%) translateY(80%);
  }
}
